body {
    background-color: lightblue;
    font-family: Arial;
}

.box {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: blue;
}

input {
    width: 95%;
    padding: 8px;
}

select {
    width: 100%;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}

button:hover {
    background-color: darkblue;
}